body {
  background-color: hsl(47, 88%, 63%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.div1 {
  background-color: aliceblue;
  border-radius: 15px;
  margin-top: 300px;
  padding: 23px;
  width: 335px;
  border:1px solid black ;
  box-shadow: 10px 10px black;
  
}
.img1 {
  border-radius: 10px;
 
}
h1 {
  border-radius: 5px;
  background-color: hsl(47, 88%, 63%);
  width: 130px;
  font-size: 23px;
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
  
}
.p2{
  color: gray ;
}

.div3{
  
  display: flex;
  align-items: center;
  gap: 15px;
}
.img2{
  width: 45px;;
}